<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
</head>
<body>
    <h2>Add a new user</h2>
    <form action='/register' method='POST'>
        {% csrf_token %}
        Name:<input type="text" name="name" id="name">
        <input type="submit" value="Create">
    </form>
    <form action="/addfriend" method='POST'>
        {% csrf_token %}
        <select name="useradd" >
            {% for user in users %}
            <option value={{user.id}}>{{user.name}}</option>
            {% endfor %}
        </select>
        <select name="friendadd">
            {% for user in users %}
            <option value={{user.id}}>{{user.name}}</option>
            {% endfor %}        
        </select>
        <input type="submit" value="Become Friends">
    </form>
    <h2>All Friendships</h2>
    {% for friend in friendships %}
        {{friend}} <br>
    {% endfor %}
    <h3>Check Friendships</h3>
    <form action="/checkfriends" method='POST'>
        {% csrf_token %}
        <select name="checkfriend" >
            {% for user in users %}
            <option value={{user.id}}>{{user.name}}</option>
            {% endfor %}
        </select>      
        <input type="submit" value="Check Friends">
    </form>


</body>
</html>